STAFFFLOW_API_URL=https://ems-backend-lemon.vercel.app/api
STAFFFLOW_WEB_URL=https://ahsanfyp.netlify.app
FIREBASE_WEB_API_KEY=
OFFICE_LATITUDE=31.489200
OFFICE_LONGITUDE=74.403997
OFFICE_RADIUS_METERS=100
